<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Anketa to'ldirish</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">N E R S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container-fluid ">
  <div class="row">
    <div class="container-fluid mt-3 " style="width: 550px;">
      <form action="" >
        <div class="form-group">
          <label for="fname">Ism-Familiyasi:</label>
          <input type="text" class="form-control" id="fname" name="full_name">
        </div>
        <div class="form-group">
          <label for="lname">Tug'ilgan sanasi:</label>
          <input type="text" class="form-control" id="lname" name="birth_date">
        </div>
        <div class="form-group">
          <label for="mname">O'qish/Ish joyi:</label>
          <input type="text" class="form-control" id="mname" name="study_place">
        </div>
        <div class="form-group">
          <label for="day">Tanlangan kurs:</label>
          <input type="date" class="form-control" id="day" name="subject">
        </div>
        <div class="form-group">
          <label for="ishjoyi">Dars vaqti:</label>
          <input type="text" class="form-control" id="ishjoyi" name="class_time">
        </div>
        <div class="form-group">
          <label for="togarak">Ota-Onasining ismi:</label>
          <input type="text" class="form-control" id="togarak" name="parent_name">
        </div>
        <div class="form-group">
          <label for="time">Yashash manzili:</label>
          <input type="time" class="form-control" id="time" name="address">
        </div>
        <div class="form-group">
          <label for="parent">Telefon raqami:</label>
          <input type="text" class="form-control" id="parent" name="phone_number">
        </div>
        <div class="form-group">
          <label for="address">Qayerdan eshitganligi:</label>
          <input type="text" class="form-control" id="address" name="found_where">
        </div>
        <div class="form-group">
          <label for="phone">Status:</label>
          <input type="number" class="form-control" id="phone" name="state">
        </div>
          <div class="d-flex justify-content-between">
          <button class="btn btn-sm btn-light">Bekor qilish</button>
          <button type="submit" class="btn btn-sm btn-primary justify-content-end btn-cancel" style="margin-left: 90px;">Saqlash</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>










