<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Arizalar arxivi!</title>
  <link href="assets/images/school.png" rel="shortcut icon">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
<div class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between shadow p-1 mb-5">
    <a class="navbar-brand" href="#" style="margin-left: 1em; font-weight: bold; font-size: 26px; color: #3f51b5">
      N E R S</a>
    <a href="/">
      <button class="btn btn-outline-light btn-sm">
        <img style="margin-right: 7px" src="/assets/images/sign-out.png" height="25" width="25"/>
      </button>
    </a>
  </nav>
</div>
<div class="container-fluid">
  <div id="main">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-white sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a th:onclick="|loadForm('/application-list')|" class="nav-link"
                 style="color: #5a6268; font-weight: bold;">
                Administratsiya
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #5a6268; font-weight: bold; margin-bottom: 10px;">
                Arxiv
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-10 mt-3 flex-column">
        <!--        <button th:onclick="|loadForm('/application-insert')|" class="btn btn-outline-primary fas fa-edit"-->
        <!--                style="margin-bottom: 10px;">Ariza qo'shish-->
        <!--        </button>-->
        <table class="table table-bordered table-hover">
          <thead>
          <tr style="color: #5f6371;">
            <th>FISH</th>
            <th>Tug'ilgan sanasi</th>
            <th>O'qish/Ish joyi</th>
            <th>Tanlagan kurs</th>
            <th>Dars vaqti</th>
            <th>Ota-Ona FISH</th>
            <th>Manzili</th>
            <th>Telefon raqami</th>
            <th>Qayerdan esitganligi</th>
            <th>Status</th>
            <!--            <th>Amallar</th>-->
          </tr>
          </thead>
          <tbody>
          <tr th:each="ar : ${archives}">
            <td th:text="${ar.full_name}"></td>
            <td th:text="${ar.birth_date}"></td>
            <td th:text="${ar.study_place}"></td>
            <td th:text="${ar.subject}"></td>
            <td th:text="${ar.chosen_time}"></td>
            <td th:text="${ar.parent_name}"></td>
            <td th:text="${ar.address}"></td>
            <td th:text="${ar.phone_number}"></td>
            <td th:text="${ar.found_where}"></td>
            <td th:text="${ar.state}"></td>
            <td hidden th:text="${ar.applicant_id}"></td>
            <!--            <td style="padding-left: 23px;">-->
            <div class="row">
              <div>
                <!--                  <button class="btn btn-sm btn-primary fas fa-pen"-->
                <!--                          th:onclick="|updateApplication(${app.applicant_id})|">-->
                <!--                  </button>-->
                <!--                  <button class="btn btn-sm btn-danger fas fa-tra" type="button"-->
                <!--                          th:onclick="|deleteApplication(${arc.applicant_id})|">-->
                <!--                  </button>-->
              </div>
            </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script th:src="@{/assets/js/common.js}"></script>
</body>
</html>
