<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<body class="text-center">
<h1></h1>
<form>
  <div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 70px; width: 500px;">
    <h1 style="color: #5f6371">Tizimga Kirish</h1>
    <div class="container">
      <label for="inputUsername" class="sr-only">Login</label>
      <input name="user_name" type="username" id="inputUsername" class="form-control" placeholder="Login" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Parol" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Tizimga Kirish</button>
    </div>
  </div>
</form>
</body>
</body>
</html>


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .my-container {
      width: 500px;
    }
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>