<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Xush kelibsiz!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 24px; color: #5f6371">N E R S</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img style="margin-right: 7px" src="../static/images/sign-out.png" height="40" width="40"/>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>Administratsiya <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-11 mt-3 flex-column">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>FISH</th>
          <th>Tug'ilgan sanasi</th>
          <th>O'qish/Ish joyi</th>
          <th>Tanlagan kurs</th>
          <th>Tanlangan sana</th>
          <th>Dars vaqti</th>
          <th>Ota-Ona FISH</th>
          <th>Adresi</th>
          <th>Telefon raqami</th>
          <th>Qayerdan esitganligi</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applicants}">
          <td th:text="${app.full_name}"></td>
          <td th:text="${app.birth_date}"></td>
          <td th:text="${app.study_place}"></td>
          <td th:text="${app.subject}"></td>
          <td th:text="${app.chosen_time}"></td>
          <td th:text="${app.parent_time}"></td>
          <td th:text="${app.address}"></td>
          <td th:text="${app.phone_number}"></td>
          <td th:text="${app.found_where}"></td>
          <td th:text="${app.state}"></td>
          <td hidden th:text="${app.applicant_id}"></td>
          <td style="padding-left: 22px;">
            <button type="button" class="border border-light">
              <img alt="Edit" src="../static/images/pencil-edit.png" height="18" width="18"/>
            </button>
            <button type="button" class="border border-light">
              <img alt="Delete" src="../static/images/rubbish.png" height="18" width="18"/>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
