<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Xush kelibsiz!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#" style="font-weight: bold; font-size: 24px; color: #5f6371">N E R S</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img style="margin-right: 7px" src="../static/images/sign-out.png" height="40" width="40"/>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>Administratsiya <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-11 mt-3 flex-column">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>FISH</th>
          <th>Tug'ilgan sanasi</th>
          <th>O'qish/Ish joyi</th>
          <th>Tanlagan kurs</th>
          <th>Tanlangan sana</th>
          <th>Dars vaqti</th>
          <th>Ota-Ona FISH</th>
          <th>Adresi</th>
          <th>Telefon raqami</th>
          <th>Qayerdan esitganligi</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applicants}">
          <td th:text="${app.full_name}"></td>
          <td th:text="${app.birth_date}"></td>
          <td th:text="${app.study_place}"></td>
          <td th:text="${app.subject}"></td>
          <td th:text="${app.chosen_time}"></td>
          <td th:text="${app.parent_time}"></td>
          <td th:text="${app.address}"></td>
          <td th:text="${app.phone_number}"></td>
          <td th:text="${app.found_where}"></td>
          <td th:text="${app.state}"></td>
          <td hidden th:text="${app.applicant_id}"></td>
          <td></td>
          <td style="padding-left: 22px;">
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
              <img alt="Edit" src="../static/images/pencil-edit.png" height="18" width="18"/>
            </button>
            <button type="button" class="btn">
              <img alt="Delete" src="../static/images/rubbish.png" height="18" width="18"/>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<!-- Modal
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">O'quvchi ma'lumotlarini o'zgartirish</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" >
          <div class="form-group">
            <label for="fullname">Ism-Familiyasi:</label>
            <input th:text="${app.full_name}" type="text" class="form-control" id="fullname" name="full_name">
          </div>
          <div class="form-group">
            <label for="bday">Tug'ilgan sanasi:</label>
            <input th:text="${app.birth_date}" type="text" class="form-control" id="bday" name="birth_date">
          </div>
          <div class="form-group">
            <label for="stydyplace">O'qish/Ish joyi:</label>
            <input th:text="${app.study_place}" type="text" class="form-control" id="stydyplace" name="study_place">
          </div>
          <div class="form-group">
            <label for="course">Tanlangan kurs:</label>
            <input th:text="${app.subject}" type="text" class="form-control" id="course" name="subject">
          </div>
          <div class="form-group">
            <label for="time">Dars vaqti:</label>
            <input th:text="${app.chosen_time}" type="text" class="form-control" id="time" name="class_time">
          </div>
          <div class="form-group">
            <label for="togarak">Ota-Onasining ismi:</label>
            <input th:text="${app.parent_time}" type="text" class="form-control" id="togarak" name="parent_name">
          </div>
          <div class="form-group">
            <label for="address">Yashash manzili:</label>
            <input th:text="${app.address}" type="text" class="form-control" id="address" name="address">
          </div>
          <div class="form-group">
            <label for="parent">Telefon raqami:</label>
            <input th:text="${app.phone_number}" type="text" class="form-control" id="parent" name="phone_number">
          </div>
          <div class="form-group">
            <label for="hearfrom">Qayerdan eshitganligi:</label>
            <input th:text="${app.found_where}" type="text" class="form-control" id="hearfrom" name="found_where">
          </div>
          <div class="form-group">
            <label for="phone">Status:</label>
            <input th:text="${app.state}" type="text" class="form-control" id="phone" name="state">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" style="margin-right: 17em;" data-dismiss="modal">Bekor qilish</button>
        <button type="button" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</div>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
