<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Xush kelibsiz!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">NERS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img style="margin-right: 7px" src="../static/images/sign-out.png" height="40" width="40"/>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-1 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Administratsiya <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-11 mt-3 flex-column">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>FISH</th>
          <th>Tug'ilgan sanasi</th>
          <th>O'qish/Ish joyi</th>
          <th>Tanlagan kurs</th>
          <th>Tanlangan sana</th>
          <th>Dars vaqti</th>
          <th>Ota-Ona FISH</th>
          <th>Adresi</th>
          <th>Telefon raqami</th>
          <th>Qayerdan esitganligi</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Kodirova Mukarramkhon Dilshodbek qizi</td>
          <td>15/11/1998</td>
          <td>INHA Universiteti</td>
          <td>Ingliz tili</td>
          <td>10/09/2019</td>
          <td>15:00 PM</td>
          <td>Mamajanova Ranokhon Makhmudovna</td>
          <td>M.Ulug'bek Buyuk Ipak yo'li</td>
          <td>Facebookdan</td>
          <td>+998931234567</td>
          <td>Boshladi</td>
          <td style="padding-left: 22px;">
            <button type="button" class="border border-light">
              <img alt="Edit" src="../static/images/pencil-edit.png" height="18" width="18"/>
            </button>
            <button type="button" class="border border-light">
              <img alt="Delete" src="../static/images/rubbish.png" height="18" width="18"/>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
